<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruanlopes.vidainc" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".database.BeaconProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true"/>
        <activity
            android:name=".Activities.UserSettingActivity"
            android:label="@string/UserSettingActivity" >
        </activity>
        <activity
            android:name=".Activities.EnteredRoom"
            android:label="@string/title_activity_entered_room"
            android:parentActivityName=".Activities.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ruanlopes.vidainc.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.Roomctivity"
            android:label="@string/title_activity_roomctivity"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ruanlopes.vidainc.Activities.MainActivity" />
        </activity>
    </application>

</manifest>
